**/.git
**/__pycache__
**/*.pyc
**/.pytest_cache
**/*.egg-info
**/node_modules
**/output
**/build
**/*.o
**/*.a
**/*.la
**/*.lo
**/.libs
**/.deps
**/.vscode
**/.idea
**/.github
**/docs/_build
**/verilator/bin/verilator_bin
**/verilator/src/*.o
